- name: Install Mysql Client
  ansible.builtin.dnf:
    name: mysql
    state: installed

- name: Load schema
  ansible.builtin.shell: mysql -h mysql-dev.learntechnology.space -uroot -pRoboShop@1 < /app/schema/{{component}}.sql
